* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

/* body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
} */

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

/* p.success {
	color: green;
}

p.danger {
	color: red;
} */




.pad-lr{
  padding: 0 3rem;
}





/************ Navbar Css ************/

.navigation{
  height: 5rem;
  width: 100vw;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: black;
  /* background-color: #05386B; */
  color: white;
  z-index: 9999;
}
.heading-size{
  font-size: 2.6rem;
  font-weight: 500;
}
.lio-color{
  color:#FF652F;
}
.link-text{
  color: white;
  text-decoration: none;
}
.heading-size:hover{
  color: #FF652F;
}
.navigation-menu{
  margin-left: auto;
}
.navigation-menu ul{
  width: 40vw;
  display: flex;
  padding: 0;
  justify-content: space-evenly;
}
.navigation-menu li{
  font-weight: bold;
  list-style-type: none;
  margin: 0.1rem;

}
.link-text-nav{
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
}
.link-text-nav:hover,
.link-text-nav.active{
  color: #D9B08C;
  /* color: #FF652F; */
}

/* Home section CSS */
#home{
  margin-top: 5rem;
  height: 100vh;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  color: white;
  /* background-color: #EDF5E1; */
  /* background: linear-gradient(to right #FD2D00 #DF007C); */
  /* -webkit-text-fill-color:transparent; */
  /* -webkit-background-clip: text; */
  background-image: url("https://images.pexels.com/photos/159740/library-la-trobe-study-students-159740.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-blend-mode: darken; */

  /* background-color:black; */


}
.background{
  background-color: rgb(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5rem;
}
.background span{
  font-size: 2.5rem;
  font-weight: 500;
  /* padding-left: 2.7rem; */
}
.background p{
  font-size: 1.4rem;
}
.correct{
  display: flex;
  /* border: 1px solid white; */
  align-items: center;
  margin-bottom: 20px;
}


.m-l{
  margin-left: 5px;
}
.webdev{
  display: inline-block;
  /* border: 1px solid red; */
  width: 12rem;
  height: 30px;
}
.webdev ul{
  padding: 0 10px;
  margin: 0;
  height: 30px;
  width: 13rem;
  /* background-color: white; */
  display: flex;
  align-items: center;
  border-radius: 20px;
}
.webdev li{
  list-style: none;
  /* display: flex; */
  color: #48abe0;
  text-shadow: #48abe0 3px 3px 10px;
  animation: rainbow 1s linear infinite;
}
@keyframes rainbow {
  /* 0%{ text-shadow: #48abe0 0px 0px 30px; }
  50% { text-shadow: blueviolet 0px 0px 30px; }
  75% { text-shadow: rebeccapurple 0px 0px 30px;}
  100% { text-shadow: #48abe0 0px 0px 30px; } */
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
 }

/* About section CSS */

#about{
  height: 100vh;
  background-color: #EDC7B7;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 5rem;

}
 .aboutme{
  font-weight: 600;
  font-size: 2.5rem;
 
}

#about .cont{
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
}
#about .about-img{
  width: 22rem;
  height: 27rem;
  background-image: url(https://images.pexels.com/photos/256395/pexels-photo-256395.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-size: cover;
}
#about .about-text{
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#about .about-text p{
  margin: 0;
  width: 30rem;
  line-height: 30px;
}
#about button{
  cursor: pointer;
  width: 10rem;
  height: 3rem;
  color: white;
  font-weight: bold;
  border-radius: 2rem;
  /* background-color: #36454f; */
  background-color: black;
}

 .cont-bottom{
  height: 10rem;
  background-color: rgb(138, 11, 32);
  color: white;
}

/* project section CSS */

#project{
  height: 115vh;
  background-color: #EDC7B7;
  display: flex;
  /* border: 1px solid blue; */
  /* border: 1px solid black; */
  flex-direction: column;
  /* justify-content: space-evenly; */
}
.heading{
  margin: 2rem 0 ;
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
}
#project .grid-cont{
  height: 33rem;
  padding: 10px 0;
  border-radius: 50px;
  /* border: 1px solid black; */
  background-color: #caa899;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 30px;
  justify-content: space-around;
  align-items: center;
}
.grid-cont .item{
  width: 10rem;
  height: 15rem;
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
}
.grid-cont .item span{
background-color: rgb(138, 11, 32);
color: white;
font-weight: bold;
text-align: center;
}

.grid-cont .item:hover{
  transition: all 0.1s linear;
  transform: scale(1.1);
  box-shadow: 0px 0px 20px 10px black;

}
.grid-cont a:nth-child(1) .item{
  /* background-image: url(../public/image/BlogApp\ \(2\).png); */
  background-size: cover;
  /* background-repeat: no-repeat;/ */
}
.grid-cont  a:nth-child(2) .item{
  /* background-image: url(../public/image/studentdetails\ \(2\).png); */
  background-size: cover;
}
.grid-cont a:nth-child(3) .item{
  /* background-image: url(../public/image/DigitalClock\ \(2\).png); */
  background-size: cover;
}
.grid-cont a:nth-child(4) .item{
  /* background-image: url(../public/image/Todoapp.png); */
  background-size: cover;
}

/* Skills section CSS */

#skills{
  height: 100vh;
  color: white;
  text-align: center;
  /* color: navy; */
  border: 1px solid black;
  background-color: black;
}
#skills .cont{
  display: grid;
  gap: 5rem;
  grid-template-columns: auto auto auto ;
  justify-content: space-evenly;
}

#skills .cont div{
  height: 5rem;
  /* color: black; */
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.react-icon{
  font-size: 100px;   
   color: #3FEEE6;
}
.animate{
  animation: rotates 4s infinite linear;

}
@keyframes rotates{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(180deg);
  }
}

/* contact section */

/* style={{background: 'teal', height: '20rem' }} */

#contact{
  height: 90vh;
  padding: 0 5rem;

  background-color: #EDC7B7;
}
.container-contact{
  display: flex;
  border: 2px solid black;
  border-radius: 50px;

}
.c-left{
  width: 50vw;
  /* border: 1px solid black; */
  border-right: 2px solid black;
  font-size: 2.4rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

label{
  color: black;
  margin-bottom: 0.5rem;
}

form{
  width: 50vw;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem;
  font-weight: bold;
  /* margin: auto; */
  max-width: 600px;
}
form input,form textarea{
  margin-bottom: 1rem;
  padding: 10px 18px;
  font-size: 1.2rem;
  /* color: #f4f4f4; */
}
form textarea:focus, form input:focus{
  border: 2px solid black;
}

.send-btn{
  font-weight: bold;
  color: #48abe0;
}
.send-btn:hover{
  border: 0;
  background-color: #48abe0;
  color: white;
}


/* footer */
#footer{
  background-color: #EDC7B7;

}

.cont-f{
  display: flex;
  padding: 20px 5rem;
  /* padding-top: 20px; */
  /* margin-top: 20px; */
  /* border: 1px solid black; */
  height: 11rem;
  justify-content: space-between;

}
.cont-f h3{
  text-align: center;

}
.cont-f .left{
  width: 30rem;
}
.cont-f .center{
  width: 15rem;
}
.cont-f .center .list{
  display: flex;
  justify-content: space-between;

}
.cont-f  ul{
  margin-top: 10px;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cont-f  ul li{
  list-style-type: none;
}
.cont-f .right{
  width: 15rem;
}
.cont-f .right ul{
  height: 6rem;
}
.copyright{
  height: 1.4rem;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 14px;
}
